; gjuktype jukebox configuration file revision 1.4
[KODAK DISK TRANSPORTER]{MediumChangerType:KODAK DISK TRANSPORTER}<gearjuke.dll>
GENERALFLAGS - ENABLEIMPORTEXPORT | AUTOIMPORTEXPORT | AUTOCLOSEMAILBOX | AUTOEJECT | ALLOWGRIPPER

[PIONEER DRM7000 JUKEBOX]{MediumChangerType:PIONEER DRM1004 JUKEBOX}<gearjuke.dll>
GENERALFLAGS - AUTOIMPORTEXPORT | AUTOCLOSEMAILBOX | ALLOWGRIPPER

[PIONEER DRM5004 JUKEBOX]{MediumChangerType:PIONEER DRM5004 JUKEBOX}<gearjuke.dll>
GENERALFLAGS - AUTOIMPORTEXPORT | ALLOWGRIPPER

[PIONEER DRM1004 JUKEBOX]{MediumChangerType:PIONEER DRM1004 JUKEBOX}<gearjuke.dll>
GENERALFLAGS - AUTOIMPORTEXPORT | AUTOCLOSEMAILBOX | ALLOWGRIPPER

[K&S CD30 JUKEBOX]{MediumChangerType:K&S CD30 JUKEBOX}<gearjuke.dll>
GENERALFLAGS - AUTOEJECT | ALLOWGRIPPER

[K&S CD10 JUKEBOX]{MediumChangerType:GRUNDIG JUKEBOX}<gearjuke.dll>
GENERALFLAGS - AUTOEJECT | ALLOWGRIPPER

[GRUNDIG 2105]{MediumChangerType:GRUNDIG JUKEBOX}<gearjuke.dll>
GENERALFLAGS - AUTOEJECT | ALLOWGRIPPER

[GRUNDIG 1035]{MediumChangerType:GRUNDIG JUKEBOX}<gearjuke.dll>
GENERALFLAGS - AUTOIMPORTEXPORT | AUTOEJECT | ALLOWGRIPPER

[ASM JUKEBOX]{MediumChangerType:ASM JUKEBOX}<gearjuke.dll>
GENERALFLAGS - AUTOIMPORTEXPORT

[DSM JUKEBOX]{MediumChangerType:DSM JUKEBOX}<gearjuke.dll>
GENERALFLAGS - AUTOIMPORTEXPORT | ALLOWGRIPPER

[CYGNET JUKEBOX]{MediumChangerType:CYGNET JUKEBOX}<gearjuke.dll>
GENERALFLAGS

[JVC JUKEBOX]{MediumChangerType:JVC JUKEBOX}<gearjuke.dll>
GENERALFLAGS - AUTOIMPORTEXPORT | AUTOCLOSEMAILBOX | ALLOWGRIPPER

[HITACHI MINI CHANGER]{MediumChangerType:HITACHI MINI CHANGER}<gearjuke.dll>
GENERALFLAGS - ENABLEIMPORTEXPORT | AUTOIMPORTEXPORT | AUTOCLOSEMAILBOX | AUTOEJECT | ALLOWGRIPPER
